// Navigation Styles here
* {
    box-sizing: border-box;
}

.title {
    margin: 0px 280px 0px 0px;
    text-align: left;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding: 20px 0px 0px 0px;
    width: 800px;
}
.link {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.dashed-line {
    border-bottom: 2px dashed #bbbbbb;
    width: 1000px;
    display: block;
    margin: auto;
}